$fda-orange: #fa812f;
$fda-yellow: #fccd2a;
$fda-navy: #1a1953;
$card-color: #ffedd9;

$black: #222222;

$gray-light: #d4d4d8;
$gray-light-2: #c5c5c5;
$gray-light-3: #a8a8a8;
$gray-medium: #acacac;
$gray-medium-2: #99a1af;
$gray-medium-3: #6e6e6e;
$gray: #6e6e6e;

$white: #ffffff;
$white-2: #fbfaf9;
